body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

main {
  padding: 1em;
  text-align: center;
  background-color: beige;
  filter: drop-shadow(5px 5px 5px #cecea8);
}

h1 {
  margin-top: 1.5em;
  margin-bottom: 1em;
}

input {
  font-size: 18px;
  line-height: 1em;
}

label {
  line-height: 3em;
  font-size: 18px;
}

.hide-warning {
  display: none;
}

#addBtn {
  margin: 2em;
  padding: 0.5em 1em;
  background-color: rgb(3, 143, 143);
  border: none;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

#addBtn:hover {
  color: rgb(3, 143, 143);
  background-color: black;
  cursor: pointer;
}

ul {
  text-align: left;
  margin: 0px auto;
  display: inline-block;
  font-size: 18px;
}

li:hover {
  cursor: pointer;
}

.striked {
  text-decoration: line-through;
}

.striked:hover {
  cursor: pointer;
}

li button {
  margin: 0.8em 0.4em 0.4em 0.4em;
  color: rgb(1, 102, 102);
  font-weight: bold;
  font-size: 1.5em;
  padding: 0px 3px;
  line-height: 20px;
}

li button:hover {
  background-color: lightgrey;
  cursor: pointer;
  color: rgb(28, 114, 114);
}

@media only screen and (min-width: 500px) {
  main {
    max-width: 450px;
    margin: 2.5em auto;
    padding: 0.5em;
  }
}
